body {
   background-color: black;
   color:bisque;
   display:flex;
   flex-direction: column;
   align-items: center;
   margin:0 auto;
   font-size: xx-large;
   border: 2px beige solid;
   margin-top: 10%;
}

.button {
    display:flex;
    justify-content: center;
    align-items: center;
}
p {
    font-size: xx-large;
}